section{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: start;
}

.bodyHider{
    width: 100%;
    height: 90vh;
    scroll-snap-type: y mandatory;
overflow-y: scroll;
}
